body {
  background-color: #FFF;
}

h1 {
  color: #FFFFFF;
  margin-left: 20px;
}

#roundb {
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  padding: 20px; 
  width: 200px;
  height: 150px;  
}
